@page "/tasks"
@inject ITaskService TaskService

<h3>TaskList</h3>

@if(tasks==null)
{
    <p><em>Loading....</em></p>
}
else if (tasks.Any())
{
    <ul>
        @foreach(var task in tasks)
        {
            <li>@task.Title (@task.CurStatus)</li>
        }
    </ul>
}
else
{
    <p>No tasks found</p>
}

<button>Create Task</button>


@code {
    private IEnumerable<TaskDTO> tasks;
    protected override async Task OnInitializedAsync()
    {
        tasks = await TaskService.GetAllTasks();
    }
}
